<div class="table-wrapper">
  <h1>Catálogo de Precios</h1>

  <h2>{{ isEditMode ? 'Editar Precio' : 'Agregar nuevo Precio'}}</h2>

  <form (submit)="onSubmit()" #precioForm='ngForm'>

    <mat-form-field>
      <input matInput placeholder="Titulo" name="titulo" required
             [(ngModel)]="precioData.titulo">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Descripcion" name="descripcion" required
             [(ngModel)]="precioData.descripcion">
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Valor" name="valor" required
             [(ngModel)]="precioData.valor">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Moneda" name="moneda" required
             [(ngModel)]="precioData.moneda">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Tipo de tarifa" name="tipoTarifa" required
             [(ngModel)]="precioData.tipoTarifa">
    </mat-form-field>

    <mat-form-field>
      <input type="boolean" matInput placeholder="Vigencia" name="vigencia" required
             [(ngModel)]="precioData.vigencia">
    </mat-form-field>

    <ng-container *ngIf="isEditMode; else elseTemplate">
      <button mat-button color="primary">Update</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </ng-container>

    <ng-template #elseTemplate>
      <button mat-button color="primary">Add</button>
    </ng-template>

  </form>


  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> #Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Titulo</th>
      <td mat-cell *matCellDef="let element">{{ element.titulo }}</td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> Descripcion</th>
      <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
    </ng-container>

    <ng-container matColumnDef="valor">
      <th mat-header-cell *matHeaderCellDef> Valor</th>
      <td mat-cell *matCellDef="let element">{{ element.valor }}</td>
    </ng-container>

    <ng-container matColumnDef="moneda">
      <th mat-header-cell *matHeaderCellDef> Moneda</th>
      <td mat-cell *matCellDef="let element">{{ element.moneda }}</td>
    </ng-container>

    <ng-container matColumnDef="tipoTarifa">
      <th mat-header-cell *matHeaderCellDef> Tipo de Tarifa</th>
      <td mat-cell *matCellDef="let element">{{ element.tipoTarifa }}</td>
    </ng-container>

    <ng-container matColumnDef="vigencia">
      <th mat-header-cell *matHeaderCellDef> Vigencia</th>
      <td mat-cell *matCellDef="let element">{{ element.vigencia }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <a href="javascript:void(0)" (click)="editItem(element)"><mat-icon>edit</mat-icon></a>
        |
        <a href="javascript:void(0)" (click)="deleteItem(element.id)"><mat-icon>delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{ 'editable-row': precioData.id === row.id}"></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>
